<p>
  <mat-toolbar class="gotneed" color="accent">
    
    <div><img src="assets/gotneed_transparent-03.png" alt="Logo" class="logo" routerLink=""></div>
    
    <span class="example-spacer"></span><div>
<button mat-raised-button color="accent" class="navbutton" routerLink="/girl-form">Register</button>
<!--<button mat-raised-button color="accent" class="navbutton" routerLink="/login">Login</button>-->


</div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon dashboard" aria-label="Example icon-button with search icon" routerLink="/dashboard">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="container-login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" id="username" formControlName="username" required placeholder="Username">
    </div>

    <div class="form-group">
      <input type="password" id="password" formControlName="password" required placeholder="Password">
    </div>

    <button type="submit" [disabled]="!loginForm.valid" class="yellow-button" routerLink="/dashboard">Login</button>
  </form>
</div>
