
<p>
  <mat-toolbar class="gotneed" color="accent">
    
    <div><img src="assets/gotneed_transparent-03.png" alt="Logo" class="logo"></div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span><div>
<button mat-raised-button color="accent" class="navbutton" routerLink="girl-form">Register</button>
<button mat-raised-button color="accent" class="navbutton" routerLink="/login">Login</button>


</div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<!-- home.component.html -->
<div class="container">
  <h1></h1>
  <div class="figurine-container">
    <div *ngFor="let mestiere of mestieri" class="figurina">
      <img [src]="mestiere.image" alt="{{ mestiere.nome }}">
      <div class="figurina-details">
        <p class="nome">{{ mestiere.nome }}</p>
        <p class="descrizione">{{ mestiere.descrizione }}</p>
      </div>
    </div>
  </div>
</div>