
body {
    font-family: 'Spectral', serif;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

* {box-sizing: border-box;
}




/* HEADER */
.sticky-header {
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-size: 0.8rem;
    padding-left: 130px;
   
}

.header-container {
    background-color: #FFC017;
    border-bottom: 1px solid black;
    height: 80px; 
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    
   
}

.logo {
    display: block;
    flex-basis: 50%;
  margin-left: 0;
}

#navlist {
    list-style: none;
    display: flex;
    align-items: center;


    }


.navli a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a.topbutton {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}


/* HERO */

.hero-wrap {
    background-color: #FFC017;
    display: flex;
    justify-content: space-between;
}

.hero {
    padding-left: 130px;
    padding-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.curious {
    flex-basis: 40%;
}

.hero h1 {
    font-family: 'Spectral', sans-serif; 
    font-size: 6rem; 
    margin-bottom: 2rem; 
}

.hero p {
    font-size: 1.5em; 
    margin-bottom: 3rem; 
}

a.big-button {
    background-color: black;
    color: white;
    padding: 0.5em 3em;
    margin-bottom: 2em;
    border-radius: 2em;
    text-decoration: none; 
}


.decoration {
    overflow: hidden;
}

.decoration iframe {
    flex-basis: 35%;
    overflow: hidden;
    height: 100%;
}