<form>

    <div>
    <select [(ngModel)]="selectedProvincia" name="provincia">
        <option value="" disabled selected>Seleziona una provincia</option>
      <option *ngFor="let provincia of provinceOptions" [value]="provincia">{{provincia}}</option>
    </select>
  </div>
  <div>
    <select [(ngModel)]="selectedHelpType" name="helpType">
        <option value="" disabled selected>Seleziona un tipo di help</option>
      <option *ngFor="let type of helpTypes" [value]="type">{{type}}</option>
    </select>
  </div>
 <div>
    <button type="button" (click)="searchHelps()">Cerca Help Offerti</button>
</div>
 
<div *ngIf="usernames.length > 0">
  <ul>
      <li *ngFor="let username of usernames">{{ username }}</li>
  </ul>
  
</div>
<div *ngIf="usernames.length === 0">
  Nessun risultato trovato.
</div>
 </form> 
