/* Stilizzazione generale del form e degli elementi select */
.form-group, form {
    margin-bottom: 20px;
    width: 100%;
  }
  
  select {
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff; /* Assicura che lo sfondo sia bianco */
    -webkit-appearance: none; /* Rimuove lo stile predefinito in Chrome e Safari */
    -moz-appearance: none; /* Rimuove lo stile predefinito in Firefox */
    appearance: none; /* Rimuove lo stile predefinito standard */
    margin: 10px;
  }
  
  select:focus {
    border-color: #ff4081;
    outline: none;
  }
  
  /* Utilizza lo stesso stile dei bottoni come definito per .yellow-button */
  button {
    width: auto;
    padding: 10px 20px;
    background-color: #f0f600;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
  }
  
  button:hover {
    background-color: #ff4081;
  }
  
  button:disabled {
    background-color: #f0f600;
    cursor: not-allowed;
  }
  
  /* Aggiunge uno stile per modificare il cursore quando si passa sopra gli elementi select */
  select:hover {
    cursor: pointer;
  }
  
  /* Stili per i placeholder nei select, se applicabile */
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ff4081;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ff4081;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ff4081;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ff4081;
  }
  
  /* Stilizzazione specifica per gli elementi select per aggiungere icona freccia personalizzata */
  select {
    background-image: url('data:image/svg+xml;utf8,<svg fill="ff4081" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px;
  }
  
  select option[disabled]:first-child {
    color: #ff4081; /* French Pink per il testo del placeholder */
  }