
  <div class="container">
    <div class="figurine-container">
      <div *ngFor="let mestiere of mestieri" class="figurina">
        <img [src]="mestiere.image" alt="{{ mestiere.nome }}">
        <div class="figurina-details"> <p class="nome">{{ mestiere.nome }}</p>
          <p class="descrizione">{{ mestiere.descrizione }}</p></div>
        <div class="figurina-actions">
          <button (click)="redirectToRegistration()">registrati</button>
          <button (click)="redirectToLogin()">login</button>
        </div>
      </div>
    </div>
  </div>