
.mat-toolbar {
  border-radius: 8px;
  //max-width: 90%;
}

.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
    border-radius: 8px;
  
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .logo-container {
    flex-wrap: wrap;
  }
  
  .logo {
      height: 100px; /* Altezza del logo */
      width: auto; /* Larghezza del logo */
      padding: 10px;
      padding-right: 15px;
     
  }
  
  .gotneed {
    height: 130px;
  }
  
  .example-icon {
    border: none;
    background-color: #FF4081;
  }
  
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
  .navbutton {
    margin-right: 5px;
  }









  .gotneed {
    display: flex;
    align-items: center; /* Centra gli elementi verticalmente */
    justify-content: space-between; /* Distribuisce lo spazio tra gli elementi */
    flex-wrap: wrap; /* Permette agli elementi di andare a capo se non ci sta spazio */
  }
  
  .logo {
    flex-shrink: 0; /* Impedisce al logo di ridursi */
    height: 100px;
    width: auto;
  }
  
  .navbutton, .example-icon {
    flex-shrink: 0; /* Impedisce ai bottoni di ridursi */
  }

  @media (max-width: 768px) {
    .example-flex-container, .example-button-container {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .navbutton {
      margin-bottom: 10px;
    }
  
    .example-button-row {
      justify-content: center;
    }
  
    .example-label {
      display: block; /* Mette l'etichetta sopra i pulsanti */
      margin-bottom: 5px;
    }

    //.favorite-icon, .share-icon {
    //  display: none;
    //}
  }

  

  @media (max-width: 600px) {
    .logo {
      height: 50px; /* Riduce la dimensione del logo */
    }
  
    .navbutton, .example-icon {
      padding: 0 5px; /* Riduce il padding dei bottoni */
      font-size: 12px; /* Diminuisce la dimensione del testo */
    }
  
    .example-spacer {
      display: none; /* Nasconde lo spacer per risparmiare spazio */
    }

    
  }

  @media (max-width: 400px) {
    .navbutton, .example-icon {
      min-width: 30px; /* Riduce la larghezza minima dei pulsanti */
      padding: 0;
    }
  
    .mat-icon {
      font-size: 18px; /* Riduce la dimensione delle icone */
    }
  }

  
  .container-register {
    background-color: #60ab9a; // Keppel
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .form-register {
      width: 100%;
      max-width: 600px;
    }
  
    .form-row {
      display: flex;
      justify-content: space-between;
      gap: 20px;
  
      &.full-width {
        flex-direction: column;
      }
  
      .form-field {
        flex: 1;
      }
    }

      
    .submit-button {
      background-color: #f0f600; // Yellow
      color: #FF4081; // White
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 20px;
  
      &:hover {
        background-color: #ff4081;
        color: #f0f600; // French Rose
      }
  
      &:disabled {
        background-color: #f0f600;
        color: #FF4081; // Grey
        cursor: not-allowed;
      }
    
    }

    
  }
  