<p>
  <mat-toolbar class="gotneed" color="accent">
    
    <div><img src="assets/gotneed_transparent-03.png" alt="Logo" class="logo" routerLink=""></div>
    
    <span class="example-spacer"></span><div>
<!--button mat-raised-button color="accent" class="navbutton" routerLink="girl-form">Register</button>-->
<button mat-raised-button color="accent" class="navbutton" routerLink="/login">Login</button>


</div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon dashboard" aria-label="Example icon-button with dashboard icon" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="container-register">
  <form [formGroup]="girlForm" (ngSubmit)="onSubmit()" class="form-register">
    <!-- Raggruppamento primo di campi -->
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Cognome</mat-label>
        <input matInput formControlName="cognome" required>
      </mat-form-field>
    </div>

    <!-- Raggruppamento secondo di campi -->
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
    </div>



    <!-- Raggruppamento terzo di campi -->
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Provincia</mat-label>
        <mat-select formControlName="provincia">
          <mat-option *ngFor="let provincia of provinceOptions" [value]="provincia">
            {{ provincia }}
          </mat-option>
        </mat-select>
      </mat-form-field>
 <mat-form-field appearance="fill" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
        </mat-form-field>
      </div>
    

    <!-- Raggruppamento quarto di campi -->
    <div class="form-row">
      
      
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Help Offerti</mat-label>
        <mat-select formControlName="helpOfferti" multiple>
          <mat-option *ngFor="let type of helpTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>
      
<div class="form-row">  
  <mat-form-field appearance="fill" class="form-field">
        <mat-label>Data di nascita</mat-label>
        <input matInput type="date" formControlName="dataNascita" required>
      </mat-form-field>
    </div>
       
        <!--<mat-form-field appearance="fill" class="form-field">
        <mat-label>Help Richiesti</mat-label>
        <mat-select formControlName="helpRichiesti" multiple>
          <mat-option *ngFor="let type of helpTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
         </mat-form-field>-->
    </div>

        <!-- Campo Email su una propria riga -->

    

    <button type="submit" [disabled]="!girlForm.valid" class="submit-button">Invia</button>
  </form>
</div>
