<form [formGroup]="girlForm" (ngSubmit)="onSubmit()">
  <!-- Campi del modulo con bindings [(ngModel)] -->
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cognome</mat-label>
    <input matInput formControlName="cognome" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Provincia</mat-label>
    <mat-select formControlName="provincia">
      <mat-option *ngFor="let provincia of provinceOptions" [value]="provincia">
        {{ provincia }}
      </mat-option>
    </mat-select>
    
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data di nascita</mat-label>
    <input matInput type="date" formControlName="dataNascita" required>
  </mat-form-field>

  <!-- Menu a tendina per gli help offerti -->
  <!--<mat-form-field appearance="fill">
    <mat-label>Help Offerti</mat-label>
    <mat-select formControlName="helpOfferti" multiple>
      <mat-option *ngFor="let helpType of helpTypes" [value]="helpType">{{ helpType }}</mat-option>
    </mat-select>
  </mat-form-field>

   Menu a tendina per gli help richiesti 
  <mat-form-field appearance="fill">
    <mat-label>Help Richiesti</mat-label>
    <mat-select formControlName="helpRichiesti" multiple>
      <mat-option *ngFor="let helpType of helpTypes" [value]="helpType">{{ helpType }}</mat-option>
    </mat-select>
  </mat-form-field>-->


  <button type="submit" [disabled]="!girlForm.valid" mat-raised-button color="accent">Invia</button>
</form>
