<!-- search.component.html -->
<!--<form (submit)="searchHelps()">
  <select [(ngModel)]="selectedProvincia" name="provincia">
    <option *ngFor="let provincia of provinceOptions" [value]="provincia">{{ provincia }}</option>
  </select>
  <select [(ngModel)]="selectedHelpType" name="helpType">
    <option *ngFor="let type of helpTypes" [value]="type">{{ type }}</option>
  </select>
  <button type="submit">Cerca</button>
</form>

<div *ngIf="usernames.length > 0">
  <ul>
    <li *ngFor="let username of usernames">{{ username }}</li>
  </ul>
</div>-->