<div>
    <h1>Todo Page</h1>
  
    <form  (ngSubmit)="saveTodo()">
      <label>
        Titolo:
        <input type="text" required placeholder="Titolo" [(ngModel)]="newTodo.title" name="title">
      </label>
      <label>
        Completato:
        <input type="checkbox" [(ngModel)]="newTodo.completed" name="completed">
      </label>
      <button (click)="saveTodo()">Salva</button>
    </form>
  
    <div *ngIf="loading">
      Salvataggio todo in corso
    </div>
  
    <div *ngIf="oldTodo">
      Hai creato il todo {{oldTodo.title}} ({{oldTodo.completed ? 'Completato' : 'Non completato'}})
    </div>
  
    <h2>Todos</h2>
    <ul>
      <li *ngFor="let todo of todos">
        <input type="checkbox" [(ngModel)]="todo.completed"> {{ todo.title }} - {{ todo.completed ? 'Completato' : 'Da fare' }}
      </li>
    </ul>

    <div *ngIf="!todos.length">
      Caricamento in corso
    </div>
    
    <table *ngIf="todos.length">
      <tr>
        <th>#</th>
        <th>Titolo</th>
        <th>Completato</th>
        
      </tr>
      <tr *ngFor="let t of todos">
        <td>{{t.id}}</td>
        <td>{{t.title}}</td>
      <td>{{t.completed}}</td>
        <td>
          <a [routerLink]="['/todo','/completed',t.id]" >Modifica</a>
          <button (click)="delete(t.id)" >Elimina</button>
        </td>
      </tr>
    </table>
  
    <a routerLink="/completed">Vai ai completati</a>
  </div>