$colore-primario: #3498db;
$colore-secondario: #e74c3c;
$colore-terziario: yellow;
$colore-testo: #333;

$font-family: 'Helvetica', sans-serif;
$primary-button-background: $colore-primario;
$secondary-button-background: $colore-secondario;
$tertiary-button-background: $colore-terziario;
$background:$colore-primario
