$valori : 12, 16, 24; 

$sizes: (
    sm: 12px, 
    normal: 16px,
    md: 24px,
    lg: 36px,
    xl: 48px,
    xxl: 160px
);


@each $misura in $valori{
    .margine-top-#{$misura}{
        margin-top: $misura+ px;
    }
}


@each $chiave, $valore in $sizes {
    .pt-#{$chiave}
    {padding-top: $valore;}
}

